<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>

    </head>
    <body>
        <div class = "navbar">{{ navtext }}</div>

        <h1 align="center">{{ message }}</h1>

    </body>
</html>