{% extends 'base.html.twig' %}

    {% block body %}

        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Songs<span>Lyrics</span></div>
        </div>
        <br>
        <div class="login">
            <input type="text" placeholder="username" name="user"><br>
            <input type="password" placeholder="password" name="password"><br>
            <input type="button" value="Login">
        </div>

    {% endblock %}
